<!DOCTYPE html>
<html lang="fr">

<head>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <title>Go Routines</title>

     <link rel="stylesheet" href="/static/Magnet/css/bootstrap.min.css">
     <link rel="stylesheet" href="/static/Magnet/css/font-awesome.min.css">

     <!-- Main css -->
     <link rel="stylesheet" href="/static/Magnet/css/style.css">
     <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">

</head>

<body>

     <!-- PRE LOADER -->

     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div>

     <!-- Navigation section  -->

     <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand"><i class="fa fa-magnet"></i></a>
               </div>
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="/">Projects</a></li>
                         <li><a href="/about">Our Studio</a></li>
                         <li class="/active"><a href="blog">Blog</a></li>
                         <li><a href="/contact">Contact</a></li>
                    </ul>
               </div>

          </div>
     </div>

     <!-- Blog Section -->

     <section id="blog">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <div class="section-title">
                              <h3>Goroutines</h3>
                              <h2>La solution au multithreading</h2>
                         </div>

                         <div class="blog-post-thumb">
                              <div class="blog-post-image">
                                   <a href="/go/routines">
                                        <center><img src="/static/img/goImg/goRoutines.png" class="img-responsive"
                                                  alt="Blog Image"></center>
                                   </a>
                              </div>
                              <div class="blog-post-title">
                                   <h3><a href="post"> Comment est géré le multithreading actuellement?</a></h3>
                              </div>
                              <div class="blog-post-format">
                                   <span><a href="#"><img src="/static/Magnet/images/author-image1.jpg"
                                                  class="img-responsive img-circle"> Jen Lopez</a></span>
                                   <span><i class="fa fa-date"></i> Jan 30, 2016</span>
                                   <span><a href="#"><i class="fa fa-comment-o"></i> 124 Comments</a></span>
                              </div>
                              <div class="blog-post-des">
                                   <p>
                                        Les langages de programmations modernes tel que Java et Python par exemple,
                                        fonctionne
                                        selon l'environnement à thread unique dont le concept date d'il y'a au moins 20
                                        ans. Même
                                        s'il est vrai qu'ils supportent le multithreading, il est vrai aussi qu'il est
                                        difficile
                                        de créer une application multithread à l'aide de ces langages.
                                        En Java par exemple, il est très difficile de communiquer entre plusieurs
                                        threads et qui
                                        plus est, il n'est pas efficace de créer un nouveau thread en termes de mémoire.
                                        La preuve
                                        en est que chaque thread consomme plus ou moins 1 Mo de la mémoire. Le manque de
                                        mémoire
                                        ce ferra alors rapidement ressentir lors de l'utilisation de milliers de threads
                                        simultanément ce qui pourrais causer un disfonctionnement dans votre
                                        application.*
                                   </p>

                                   <a href="post" class="btn btn-default">Continue Reading</a>
                              </div>
                         </div>

                         <div class="blog-post-thumb">
                              <div class="blog-post-image">
                                   <a href="post">
                                        <img src="/static/Magnet/images/blog-image2.jpg" class="img-responsive"
                                             alt="Blog Image">
                                   </a>
                              </div>
                              <div class="blog-post-title">
                                   <h3><a href="post">En quoi Go se distingue des autres langages pour le multithreading
                                             ?</a></h3>
                              </div>
                              <div class="blog-post-format">
                                   <span><a href="#"><img src="/static/Magnet/images/author-image2.jpg"
                                                  class="img-responsive img-circle"> Leo Dennis</a></span>
                                   <span><i class="fa fa-date"></i> November 22, 2016</span>
                                   <span><a href="#"><i class="fa fa-comment-o"></i> 23 Comments</a></span>
                              </div>
                              <div class="blog-post-des">
                                   <p>
                                        Le langage Go a vu le jour en 2009, alors que les processeurs aux cœurs
                                        multiples
                                        existaient déjà. Il a donc été pensé de manière à profiter au maximum des
                                        différents cœurs
                                        des processeurs. C’est pour cette raison que Go utilise des GOROUTINES ! Au lieu
                                        de
                                        consommer 1 Mo de mémoire (comme les threads), ces derniers consomment environ 2
                                        Ko de
                                        mémoire. Nous pouvons donc faire fonctionner des millions de GOROUTINES en même
                                        temps. En
                                        plus de consommer moins que les threads, elles démarrent plus vite et peuvent
                                        nativement
                                        communiquer entre elles ce qui facilite la concurrence d’accès aux données.
                                   </p>
                                   <a href="post" class="btn btn-default">Continue Reading</a>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- Footer Section -->

     <footer>
          <div class="container">
               <div class="row">

                    <div class="col-md-3 col-sm-3">
                         <i class="fa fa-magnet"></i>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <p>3 rue Michael Faraday, 44800 Saint-Herblain</p>
                    </div>

                    <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3">
                         <p><a href="mailto:williams.modeste2017@campus-eni.fr">williams.modeste2017@campus-eni.fr</a>
                         </p>
                         <p>0778 43 08 73</p>
                    </div>

                    <div class="clearfix col-md-12 col-sm-12">
                         <hr>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <div class="footer-copyright">
                              <p>© 2019 MODESTE William's | All Rights Reserved.</p>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <ul class="social-icon">
                              <li><a href="#" class="fa fa-facebook"></a></li>
                              <li><a href="#" class="fa fa-twitter"></a></li>
                              <li><a href="#" class="fa fa-linkedin"></a></li>
                         </ul>
                    </div>

               </div>
          </div>
     </footer>

     <!-- SCRIPTS -->

     <script src="/static/Magnet/js/jquery.js"></script>
     <script src="/static/Magnet/js/bootstrap.min.js"></script>
     <script src="/static/Magnet/js/custom.js"></script>

</body>

</html>