<!DOCTYPE html>
<html lang="fr">

<head>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <title>Qui utilise Go</title>

     <link rel="stylesheet" href="/static/Magnet/css/bootstrap.min.css">
     <link rel="stylesheet" href="/static/Magnet/css/font-awesome.min.css">

     <!-- Main css -->
     <link rel="stylesheet" href="/static/Magnet/css/style.css">
     <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">

</head>

<body>

     <!-- PRE LOADER -->

     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div>

     <!-- Navigation section  -->

     <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand"><img src="/static/img/goImg/logo.png" class="img-responsive"
                              length="50" width="50"></a>
               </div>
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="/">Accueil</a></li>
                         <li class="active"><a href="/qui-utilise-go">Qui utilise Go ?</a></li>
                         <li><a href="contact">Contact</a></li>
                    </ul>
               </div>

          </div>
     </div>


     <!-- About Section -->

     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <div class="section-title">
                              <h1>Qui utilise déjà Go ?</h1>
                              
                         </div>

                         <div class="col-md-6 col-sm-12">
                              <img src="/static/img/usersOfGo/ironIo.png" class="img-responsive">
                         </div>

                         <div class="col-md-6 col-sm-12">
                              <h1><a href="https://blog.iron.io/how-we-went-from-30-servers-to-2-go/">Iron io</a></h1>
                              <p>Iron io est un fournisseur de services Cloud. Son but principale est de fournir des
                                   outils devops aux entreprises. Iron io fut d'abord développé en ruby on rails et pour
                                   palier à la forte monté en charge de son premier serveur leur première solution fut
                                   d'en acquérir un autre. Au fur et à mesure que leur entreprise se développait, le
                                   besoin en ressources de leurs serveur augmentai considérablement. Une fois le seuil
                                   de 30 serveurs atteind, ils ont réfléchi à un autre solution et ce sont orienté vers
                                   GO. Suite à ce changement et grâce à l'optimisation de go, aujourd'hui ils n'ont plus
                                   que 2 serveurs, le deuxième étant là uniquement au cas où le premier tomberait.
                              </p>
                         </div>

                         <div class="clearfix"></div>

                         <hr>



                         <div class="col-md-6 col-sm-12">
                              <h1><a href="">Twitch</a></h1>
                              <p>Twitch, le leader mondial du streaming de jeux video est récemment passé au Go. Au
                                   début leur objectif était de pouvoir maintenir un stream stable pour les
                                   utilisateurs ayant une connexion internet relativement lente. Mais avec le temps, ils
                                   ont finit par adopter Go pour tout leurs développement ils ont même conçu un
                                   framework en go nommé <a
                                        href="https://blog.twitch.tv/twirp-a-sweet-new-rpc-framework-for-go-5f2febbf35f">Twirp</a>
                                   dans le but de facilité la création d'api.
                              </p>
                         </div>
                         <div class="col-md-6 col-sm-12">
                              <img src="/static/img/usersOfGo/1280px-Twitch_logo.svg.png" class="img-responsive">
                         </div>

                         <div class="clearfix"></div>

                         <hr>
                         <div class="col-md-6 col-sm-12">
                              <img src="/static/img/usersOfGo/uber.png" class="img-responsive">
                         </div>
                         <div class="col-md-6 col-sm-12">
                              <h1><a href="https://eng.uber.com/go-geofence/">Uber</a></h1>
                              <p>
                                   Uber, nouveau leader mondial du transport, qu'il s'agisse de livraison de nourriture
                                   ou de vtc à conçu son api le plus utilisé en Go.
                                   Il s'agit d'un api de "géoférence", c'est grâce à ça qu'il est possible de localiser
                                   son chauffeur uber en temps réel, de connaitre l'emplacement de son livreur ou
                                   d'avoir les infos sur les commerçants à proximité. De ce fait cet api est très
                                   sollicité l'usage d'un langage concurrent aussi efficace que Go pour le concevoir fut
                                   donc un choix judicieux, il s'agit de leur api qui reçoit le plus de requête/s.
                              </p>
                         </div>


                         <div class="clearfix"></div>

                         <hr>
                         <div class="col-md-12 col-sm-12">
                              <h2> Autres sociétés utilisants Go</h2>
                         </div>
                         <div class="col-md-4 col-sm-6">
                             
                              <ul>
                                   <li><a href="https://github.com/mholt/caddy">Caddy</a></li>
                                   <li><a href="https://github.com/cayleygraph/cayley">Cayley</a></li>
                                   <li><a href="https://github.com/cockroachdb/cockroach">Cockroach</a></li>
                                   <li><a href="https://github.com/hashicorp/consul">Consul</a></li>
                                   
                              </ul>
                         </div>

                         <div class="col-md-4 col-sm-6">
                             
                              <ul>
                                        <li><a href="https://fr.wikipedia.org/wiki/Docker_(logiciel)">Docker</a></li>
                                        <li><a href="">DropBox</a></li>
                                        <li><a href="https://github.com/coreos/etcd">Etcd</a></li>
                                        <li><a href="https://fr.wikipedia.org/wiki/Gogs_(logiciel)">Gogs</a></li>
                              </ul>
                         </div>

                         <div class="col-md-4 col-sm-6">
                              
                              <ul>
                                        <li><a href="https://github.com/hashicorp/terraform">Terraform</a></li>
                                        <li><a href="https://github.com/containous/traefik">Traefik</a></li>
                                        <li><a href="https://fr.wikipedia.org/wiki/Hugo_(logiciel)">Hugo</a></li>
                                        <li><a href="https://fr.wikipedia.org/wiki/Kubernetes">Kubernetes</a></li>
                                   
                              </ul>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- Footer Section -->
     <footer>
          <div class="container">
               <div class="row">

                    <div class="col-md-3 col-sm-3">
                         <img src="/static/img/goImg/logo.png" class="img-responsive" length="50" width="50">
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <p>3 rue Michael Faraday, 44800 Saint-Herblain</p>
                    </div>

                    <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3">
                         <p><a href="mailto:williams.modeste2017@campus-eni.fr">williams.modeste2017@campus-eni.fr</a>
                         </p>
                         <p>0778 43 08 73</p>
                    </div>

                    <div class="clearfix col-md-12 col-sm-12">
                         <hr>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <div class="footer-copyright">
                              <p>© 2019 MODESTE William's | All Rights Reserved.</p>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <ul class="social-icon">
                              <li><a href="https://www.facebook.com/Stoxman971" class="fa fa-facebook"></a></li>
                              <li><a href="https://www.linkedin.com/in/william-s-modeste-a8303a15a/"
                                        class="fa fa-linkedin"></a></li>
                         </ul>
                    </div>

               </div>
          </div>
     </footer>

     <!-- SCRIPTS -->

     <script src="/static/Magnet/js/jquery.js"></script>
     <script src="/static/Magnet/js/bootstrap.min.js"></script>
     <script src="/static/Magnet/js/custom.js"></script>

</body>

</html>