<!DOCTYPE html>
<html lang="fr">

<head>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <title>Magnet - Minimal Portfolio Template</title>

     <link rel="stylesheet" href="/static/Magnet/css/bootstrap.min.css">
     <link rel="stylesheet" href="/static/Magnet/css/font-awesome.min.css">

     <!-- Main css -->
     <link rel="stylesheet" href="/static/Magnet/css/style.css">
     <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">

</head>

<body>

     <!-- PRE LOADER -->

     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div>

     <!-- Navigation section  -->

     <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand"><i class="fa fa-magnet"></i></a>
               </div>
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li class="active"><a href="">Qu'est-ce que Go ?</a></li>
                         <li><a href="about">Qui sont les cerveaux à l'origine de Go ? </a></li>
                         <li><a href="blog">Go Routines</a></li>
                         <li><a href="contact">Me contacter</a></li>
                    </ul>
               </div>

          </div>
     </div>

     <!-- Home Section -->

     <section id="home">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <h1>Qu’est-ce que le langage Go (GOLANG) ?</h1>
                         <h2>Go est un langage de programmation compilé conçu par Google dont la 1ere version est sortie
                              le 10 novembre 2009.</h2>
                         <hr>
                         <span>Ce langage fut à l’origine conçu pour gérer des centres de données, consommer peu de
                              ressources et exploiter au mieux les processeurs modernes aux cœurs multiples de ce fait,
                              il intègre nativement la concurrence d’accès.</span>
                         <h3>Pourquoi devrions-nous coder en GO ?</h3>
                         <span>
                              L’un des gros avantages du langage Go, c’est sa facilité d’accès, même s'il reprend la
                              même syntaxe des années 70, Go simplifie la programmation par rapport à C++ le langage
                              qu’il cherche à concurrencer :
                              • Le fonctionnement multithread devient simple, avec une seule commande.
                              • Quelques causes d'erreurs fréquentes provenant de la syntaxe sont supprimées.
                              • Le GARBAGE collector facilite la gestion de la mémoire.
                              • Il n'y a pas de classe et d'héritage. On remplace les classes par des STRUCTS et des
                              INTERFACES qui sont proches des objets de JavaScript. Les objets sont étendus par
                              composition et non pas par héritage.
                              • Les tableaux sont passés par valeurs et non comme des pointeurs.
                              • Des imports de packages comme en Java plutôt que des fichiers d'en-têtes comme en C.
                              • Pas de conversion de types sans passer par une fonction.
                              • nil remplace null.
                              • Le symbole de pointeur -> est remplacé par le point.
                              • Les incréments -- et ++ ne peuvent pas s'utiliser dans des expressions.
                              • Les constantes peuvent être déclarées sans type.
                              • new est une fonction et non pas un opérateur.
                              Cependant, pour ceux qui voudraient aussi faire du développement web, il est aussi
                              possible de le faire en Go !
                              Java étant l’un des langages phare dans ce domaine actuellement, il me semble donc
                              judicieux comparer ces deux langages.
                              Java a été conçu comme un langage pour le Web et est devenu populaire grâce à cela. Il
                              peut fonctionner sur le serveur ou sur le poste client grâce à des applets (celles-ci sont
                              devenues obsolètes). Son principal intérêt est sa bibliothèque d'interface graphique très
                              étendue.
                              Go comme Java permet de tester immédiatement un programme ou un script en développement,
                              mais il produit du code binaire, donc plus rapide et compact.
                         </span>
                         <h3> Comment est géré le multithreading actuellement?</h3>
                         <span>
                              Les langages de programmations modernes tel que Java et Python par exemple, fonctionne
                              selon l'environnement à thread unique dont le concept date d'il y'a au moins 20 ans. Même
                              s'il est vrai qu'ils supportent le multithreading, il est vrai aussi qu'il est difficile
                              de créer une application multithread à l'aide de ces langages.
                              En Java par exemple, il est très difficile de communiquer entre plusieurs threads et qui
                              plus est, il n'est pas efficace de créer un nouveau thread en termes de mémoire. La preuve
                              en est que chaque thread consomme plus ou moins 1 Mo de la mémoire. Le manque de mémoire
                              ce ferra alors rapidement ressentir lors de l'utilisation de milliers de threads
                              simultanément ce qui pourrais causer un disfonctionnement dans votre application.*
                         </span>
                         <h3>En quoi Go se distingue des autres langages pour le multithreading ?</h3>
                         <span>
                              Le langage Go a vu le jour en 2009, alors que les processeurs aux cœurs multiples
                              existaient déjà. Il a donc été pensé de manière à profiter au maximum des différents cœurs
                              des processeurs. C’est pour cette raison que Go utilise des GOROUTINES ! Au lieu de
                              consommer 1 Mo de mémoire (comme les threads), ces derniers consomment environ 2 Ko de
                              mémoire. Nous pouvons donc faire fonctionner des millions de GOROUTINES en même temps. En
                              plus de consommer moins que les threads, elles démarrent plus vite et peuvent nativement
                              communiquer entre elles ce qui facilite la concurrence d’accès aux données.
                         </span>
                    </div>

               </div>
          </div>
     </section>

     <!-- Portfolio Section -->

     <section id="portfolio">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <a href="project">
                              <div class="portfolio-thumb">
                                   <img src="/static/Magnet/images/portfolio-img1.jpg" class="img-responsive"
                                        alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>Project Name</h3>
                                             <small>Brand Identity</small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <a href="project">
                              <div class="portfolio-thumb">
                                   <img src="/static/Magnet/images/portfolio-img2.jpg" class="img-responsive"
                                        alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>Project Name</h3>
                                             <small>Web Development</small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <a href="project">
                              <div class="portfolio-thumb">
                                   <img src="/static/Magnet/images/portfolio-img3.jpg" class="img-responsive"
                                        alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>Project Name</h3>
                                             <small>Mobile App</small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <a href="project">
                              <div class="portfolio-thumb">
                                   <img src="/static/Magnet/images/portfolio-img4.jpg" class="img-responsive"
                                        alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>Project Name</h3>
                                             <small>Logo Design</small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <a href="project">
                              <div class="portfolio-thumb">
                                   <img src="/static/Magnet/images/portfolio-img5.jpg" class="img-responsive"
                                        alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>Project Name</h3>
                                             <small>Social marketing</small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <a href="project">
                              <div class="portfolio-thumb">
                                   <img src="/static/Magnet/images/portfolio-img6.jpg" class="img-responsive"
                                        alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>Project Name</h3>
                                             <small>Fyler Design</small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-12 col-sm-12 text-center">
                         <h3>hello, if you interest working together. just send message <a href="contact">contact
                                   page</a></h3>
                    </div>

               </div>
          </div>
     </section>

     <!-- Footer Section -->

     <footer>
          <div class="container">
               <div class="row">

                    <div class="col-md-3 col-sm-3">
                         <i class="fa fa-magnet"></i>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <p>124 Market Street, Suite 3570 San Francisco, CA 3042 United States</p>
                    </div>

                    <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3">
                         <p><a href="mailto:youremail@gmail.com">hello@yourstudio.co</a></p>
                         <p>(+01) 2048937 / 02 203403</p>
                    </div>

                    <div class="clearfix col-md-12 col-sm-12">
                         <hr>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <div class="footer-copyright">
                              <p>© 2016 Magnet Studio | All Rights Reserved.</p>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <ul class="social-icon">
                              <li><a href="#" class="fa fa-facebook"></a></li>
                              <li><a href="#" class="fa fa-twitter"></a></li>
                              <li><a href="#" class="fa fa-linkedin"></a></li>
                         </ul>
                    </div>

               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->

     <script src="/static/Magnet/js/jquery.js"></script>
     <script src="/static/Magnet/js/bootstrap.min.js"></script>
     <script src="/static/Magnet/js/custom.js"></script>

</body>

</html>