<!DOCTYPE html>
<html lang="fr">

<head>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <title>Accueil</title>

     <link rel="stylesheet" href="/static/Magnet/css/bootstrap.min.css">
     <link rel="stylesheet" href="/static/Magnet/css/font-awesome.min.css">

     <!-- Main css -->
     <link rel="stylesheet" href="/static/Magnet/css/style.css">
     <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">

</head>

<body>

     <!-- PRE LOADER -->

     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div>

     <!-- Navigation section  -->

     <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand"><img src="/static/img/goImg/logo.png" class="img-responsive" length="50" width="50"></a>
               </div>
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li class="active"><a href="">Qu'est-ce que Go ?</a></li>
                         <li><a href="/qui-utilise-go">Qui utilise déjà Go ? </a></li>
                         <li><a href="contact">Laisser un commentaire</a></li>
                    </ul>
               </div>

          </div>
     </div>

     <!-- Home Section -->

     <section id="home">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <h1>Qu’est-ce que le langage Go (GOLANG) ?</h1>
                         <h2>Go est un langage de programmation compilé conçu par Google dont la 1ere version est sortie
                              le 10 novembre 2009.</h2>
                         <hr>
                         <span>Ce langage fut à l’origine conçu pour gérer des centres de données, consommer peu de
                              ressources et exploiter au mieux les processeurs modernes aux cœurs multiples de ce fait,
                              il intègre nativement la concurrence d’accès.</span>

                    </div>

               </div>
          </div>
     </section>

     <!-- Portfolio Section -->

     <section id="portfolio">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <a href="/go/code">
                              <div class="portfolio-thumb">
                                   <img src="/static/img/goImg/goCode.jpg" class="img-responsive"
                                        alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>Coder en GO ?</h3>
                                             <small>Complexité du langage</small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <a href="project">
                              <div class="portfolio-thumb">
                                   <img src="/static/Magnet/images/portfolio-img2.jpg" class="img-responsive"
                                        alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>Pourquoi utiliser go ?</h3>
                                             <small>langage efficient</small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <a href="/go/routines">
                              <div class="portfolio-thumb">
                                   <img src="/static/img/goImg/goRoutines.png" class="img-responsive"
                                        alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>Go Routines</h3>
                                             <small>multithreading</small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>
                    <div class="col-md-12 col-sm-12">
                         <center><h2>Qui sont les cerveaux à l'origine de Go ? </h2></center>
                    </div>
                    <div class="col-md-4 col-sm-6">
                         <a href="/creators/Rob-Pike">
                              <div class="portfolio-thumb">
                                   <img src="/static/img/creators/robPike.jpg" class="img-responsive"
                                        alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>Rob Pike</h3>
                                             <small></small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <a href="/creators/Ken-Thompson">
                              <div class="portfolio-thumb">
                                   <img src="/static/img/creators/kenThompson.jpg" class="img-responsive"
                                        alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>Ken Thompson</h3>
                                             <small></small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <a href="/creators/Robert-Griesmer">
                              <div class="portfolio-thumb">
                                   <img src="/static/img/creators/robertGriesmer.jpg" class="img-responsive"
                                        alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>Robert Griesmer</h3>
                                             <small></small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-12 col-sm-12 text-center">
                         <h3>Si cette présentation du langage Go te plais, je t'invite à me laisser un message <a
                                   href="contact">ici</a></h3>
                    </div>

               </div>
          </div>
     </section>

     <!-- Footer Section -->

     <footer>
          <div class="container">
               <div class="row">

                    <div class="col-md-3 col-sm-3">
                         <img src="/static/img/goImg/logo.png" class="img-responsive" length="50" width="50">
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <p>3 rue Michael Faraday, 44800 Saint-Herblain</p>
                    </div>

                    <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3">
                         <p><a href="mailto:williams.modeste2017@campus-eni.fr">williams.modeste2017@campus-eni.fr</a>
                         </p>
                         <p>0778 43 08 73</p>
                    </div>

                    <div class="clearfix col-md-12 col-sm-12">
                         <hr>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <div class="footer-copyright">
                              <p>© 2019 MODESTE William's | All Rights Reserved.</p>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <ul class="social-icon">
                              <li><a href="https://www.facebook.com/Stoxman971" class="fa fa-facebook"></a></li>
                              <li><a href="https://www.linkedin.com/in/william-s-modeste-a8303a15a/" class="fa fa-linkedin"></a></li>
                         </ul>
                    </div>

               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->

     <script src="/static/Magnet/js/jquery.js"></script>
     <script src="/static/Magnet/js/bootstrap.min.js"></script>
     <script src="/static/Magnet/js/custom.js"></script>

</body>

</html>