<!DOCTYPE html>
<html lang="fr">

<head>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <title>Pourquoi choisir go ?</title>

     <link rel="stylesheet" href="/static/Magnet/css/bootstrap.min.css">
     <link rel="stylesheet" href="/static/Magnet/css/font-awesome.min.css">

     <!-- Main css -->
     <link rel="stylesheet" href="/static/Magnet/css/style.css">
     <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">

</head>

<body>

     <!-- PRE LOADER -->

     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div>

     <!-- Navigation section  -->

     <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand"><img src="/static/img/goImg/logo.png" class="img-responsive"
                              length="50" width="50"></a>
               </div>
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="/">Accueil</a></li>
                         <li><a href="/qui-utilise-go">Qui utilise go ?</a></li>
                         <li><a href="/contact">Me contacter</a></li>
                    </ul>
               </div>

          </div>
     </div>

     <!-- Blog Section -->

     <section id="blog">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <div class="section-title">
                              <h1>Pourquoi choisir go ?</h1>

                         </div>

                         <div class="blog-post-thumb">
                              <div class="blog-post-image">
                                   <a href="#">
                                        <img src="/static/img/goImg/goLangProg.png" class="img-responsive"
                                             alt="Blog Image">
                                   </a>
                              </div>
                              <div class="blog-post-title">
                                   <h3><a
                                             href="https://www.supinfo.com/articles/single/7685-pourquoi-utiliser-language-golang">En
                                             quoi go se démarque t'il des autres langages ?</a></h3>
                              </div>
                              <div class="blog-post-format">
                                   <span><a href="#"><img src="/static/img/creators/me.jpg"
                                                  class="img-responsive img-circle"> Modeste William's</a></span>
                                   <span><i class="fa fa-date"></i> 14 Mars 2019</span>
                                   <span><a href="#"><i class="fa fa-comment-o"></i> 0 commentaires</a></span>
                              </div>
                              <div class="blog-post-des">

                                   <p>
                                        En plus d'être optimisé multicoeurs contrairement a de nombreux langages récents
                                        comme Angular, nodeJs ou python Go à aussi l'avantage d'être facile à prendre en
                                        main. Ce langage est éfficient au niveau de la gestion des ressources (meilleure
                                        gestion de la mémoire, optimisation des coeurs de processeurs) et très facile à
                                        comprendre même pour un néophyte. Selon moi, pour tout projet ou l'équipe de
                                        développeurs risquerait d'être améné à évolué il serait judicieux d'utiliser Go
                                        comme langage ne serait-ce que pour ça syntaxe. Cette syntaxe justement est
                                        plutôt arbitraire il suffit d'une majuscule mal placé pour provoquer une erreur
                                        mais c'est grâce à cela que le langage est facile a relire pour n'importe quelle
                                        personne débarquant sur le projet.
                                   </p>
                                   <a href="https://www.supinfo.com/articles/single/7685-pourquoi-utiliser-language-golang"
                                        class="btn btn-default">En savoir d'avantage</a>
                              </div>
                         </div>


                    </div>

               </div>
          </div>
     </section>

     <!-- Footer Section -->

     <footer>
          <div class="container">
               <div class="row">

                    <div class="col-md-3 col-sm-3">
                         <img src="/static/img/goImg/logo.png" class="img-responsive" length="50" width="50">
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <p>3 rue Michael Faraday, 44800 Saint-Herblain</p>
                    </div>

                    <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3">
                         <p><a href="mailto:williams.modeste2017@campus-eni.fr">williams.modeste2017@campus-eni.fr</a>
                         </p>
                         <p>0778 43 08 73</p>
                    </div>

                    <div class="clearfix col-md-12 col-sm-12">
                         <hr>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <div class="footer-copyright">
                              <p>© 2019 MODESTE William's | All Rights Reserved.</p>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <ul class="social-icon">
                              <li><a href="https://www.facebook.com/Stoxman971" class="fa fa-facebook"></a></li>
                              <li><a href="https://www.linkedin.com/in/william-s-modeste-a8303a15a/"
                                        class="fa fa-linkedin"></a></li>
                         </ul>
                    </div>

               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->

     <script src="/static/Magnet/js/jquery.js"></script>
     <script src="/static/Magnet/js/bootstrap.min.js"></script>
     <script src="/static/Magnet/js/custom.js"></script>

</body>

</html>